<h1><%= @feature.title %></h1>

<date><%= time_ago_in_words(@feature.created_at) %></date>

<p><%= @feature.body %></p>

<% if user_signed_in? %>
  <%= link_to 'Edit', edit_feature_path(@feature) %>
  <%= link_to 'Delete', feature_path(@feature), method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>

<hr>

<p><%= @feature.comments.count %> Comments</p>
<%= render @feature.comments %>
<%= render "comments/form" %>
