<!DOCTYPE html>
<html>
<head>
  <title>FeatureList</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if user_signed_in? %>
    <%= link_to "New Feature", new_feature_path %>
    <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
    <p>Welcome back <%= current_user.first_name %> <%= current_user.last_name %></p>
    <%= link_to('Your Account', edit_user_registration_path) %>
  <% end %>
  <% if !user_signed_in? %>
    <%= link_to('Login', new_user_session_path) %>
    <%= link_to('Create Account', new_user_registration_path) %>
  <% end %>
<% flash.each do |name, msg| %>
  <%= content_tag(:div, msg, class: "alert") %>
<% end %>
<% if current_page?(root_path) %>
  <h1>Feature List</h1>
  <% else %>
  <%= link_to 'See All Features', root_path %>
<% end %>
<%= yield %>

</body>
</html>
